*{
    box-sizing: border-box;
  }
/*moved screen css and added html, body*/
  /*CSS for tablet*/
 @media screen and (max-width: 900px) {
  .main {
      flex-direction: column;
  }

  #middle {
    flex-direction: column;
}

  #setL {
      flex-direction: column;
  }
}

/* CSS for Mobile */
@media screen and (max-width: 760px) {
  .main {
      flex-direction: column;
  }

  #middle {
    flex-direction: column;
}

  #setL {
      flex-direction: column;
  }
}

html, body {
  height: 100%;
  width: 100%;
}
  
  body{
    overflow-y: scroll;
    background-image: url(background.jpg);
    background-size: cover;
    width:100%;
  }
  header{
    color: aliceblue;
    background-color: rgb(20, 20, 20);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    position: fixed;
    z-index: 70;
    font-size: 100%;
    top: 0;
  }
  footer{
    font-size: 18px;
    color: aliceblue;
    background-color: rgb(20, 20, 20);
    padding: 24px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width:100% !important;
  }
  h1{
    display:flex;
    margin-top: 30px;
  }
  #logo{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100px;
  }

  #menu {
    cursor: pointer;
    z-index: 3;
}

#menu:hover, #menu:focus {
    .stripes { fill: cornflowerblue; }
    .clouds { fill: deepskyblue; }
    .back { fill: aliceblue; }
}

.menuContainer {
    position: relative;
    display: inline-block;
}


.dropdownContent {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #16f8c3ad;
    min-width: 160px;
    overflow: hidden;
    margin-left: -85px;
    font-size: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 255, 162, 0.07) 0px 1px 2px, rgba(0, 255, 153, 0.07) 0px 2px 4px, rgba(0, 255, 153, 0.07) 0px 4px 8px, rgba(0, 255, 162, 0.07) 0px 8px 16px, rgba(0, 255, 166, 0.07) 0px 16px 32px, rgba(0, 255, 149, 0.07) 0px 32px 64px;
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0); /* Initially scaled down */
    transform-origin: top; /* Scale from the top */
    z-index: 2;
}

.dropdownContent.show {
    display: block; /* Show the dropdown */
    transform: scaleY(1); /* Scale up to full height */
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
}

#backdrop{
  position:fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #000000c7;
}

  .main{
    position:relative;
    z-index: 2;
    overflow-y: scroll;
    overflow-x:auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box !important;
    padding-top: 40px;
    align-items: center;
    justify-content:space-between;
    width: 100%;
  }

  #top{
    gap: 36px;
    padding: 40px;
    width:100% !important;
    margin-bottom: 200px;
  }

  #coverLetter{
    color: white;
    font-size: 24px;
    float: left;
    width:100% ;
  }
  h2{
    color: white;
    font-size: 42;
    margin: 15px;

  }

  #pic{
    float: right;
    position: relative;
    margin: 10px;
    max-width: 30%;
    box-shadow: #2cecaf40 0px 54px 55px, rgba(36, 255, 171, 0.12) 0px -12px 30px, rgba(52, 240, 171, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(67, 255, 205, 0.09) 0px -3px 5px;
  }
  
#middle{
    display: flex;
    width:100% !important;
    height: 980px;
    justify-content: center;
    margin-bottom: 250px;
}

 #setL{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 500px;
    max-height: 730px;
    height: auto;
    width: auto;
    margin-bottom: 190px;
 } 

 

#languages{
    width: 500px;
    height: 430px;
    background-color: #61fff489;
    border-radius: 24px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#qualifications{
    width: 500px;
    height: 490px;
    background-color: #5185f585;
    border-radius: 24px;
    padding-bottom: 30px;
}
.qd{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    margin-left: 40px;
    color: white;
}

#skills{
    width: 380px;
    height: 900px;
    background-color: #aa6effb3;
    border-radius: 24px;
    margin-left: 30px;
    padding-bottom: 30px;
}
h3{
    background-color: aliceblue;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 24px;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
}

#bottom{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:100%;
}

#place{
    display: block;
    align-items: center;
    justify-content: center;
    height: 300px;
    width:100%;
}

#bottom h2{
    margin-left: 40px;
}


.carousel{
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -110px;
    padding: 10px;
}


.wrapper{
    display: flex;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    width:100%;
}

.wrapper img{
    width: 100%;
    height:  200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(0, 255, 255, 0.51) 0px 20px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.wrapper video{
  width: 100%;
  height:  200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(0, 255, 255, 0.51) 0px 20px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.wrapper img:hover
{
    transition: .5s ease-in-out;
    transform:scale(160%);
}

.buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.arrowbtn {
    width: 40px;
    height: 100px;
    background: #11111100;
    border: 2px solid #16f8c2;
    border-radius: 100px;
    color: #16f8c2;
    cursor: pointer;
    line-height: 40px;
    transition: all 0.25s ease-in-out;
}

.arrowbtn:hover{
    background: white;
    border-color: white;
    color: black;
}

.arrowbtn::after{
    position: relative;
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    top: 30%;
}

#Right{
    top: 20px;
    &::after{
        margin-left: -8px;
        margin-top: 5px;
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotateZ(135deg);
    }
}

#Left{
    bottom: 20px;
    &::after{
        margin-left: 11px;
        margin-top: 5px;
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotateZ(315deg);
    }
}

#videoRight{
  top: 20px;
  &::after{
      margin-left: -8px;
      margin-top: 5px;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: rotateZ(135deg);
  }
}

#videoLeft{
  bottom: 20px;
  &::after{
      margin-left: 11px;
      margin-top: 5px;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: rotateZ(315deg);
  }
}


 
  #cv{
    width: 50%;
    z-index: 2;
    margin-top: 40px;
  }
  #svgD {
    width: 50%;
    margin-top: -25px;
  }
  
  .btn{
    cursor: pointer;
  }
  #button{
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center; /* Center vertically */
  justify-content: flex-start; /* Align items to the start (left) */
  }

  .download{
    color:white;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    padding-left:8% ;
    font-size: 2vw;
  }
  .download:hover{
    color: #16F8C2;
    
  }
  #button:hover{
    .btn{fill: rgb(20, 20, 20);}
  }
  
  .subCircle{
    pointer-events: none;
  }

  .mainC{
    background-image: url(MushroomCreature.png);
    background-position-x: -600px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    width: 80%;
    height: 100vh;
  }

  #mainContact{
    background-color: #000000b1;
    width: auto;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding: 40px;
    height: 41%;
  }

  .contact{
    color: white;
    font-size: 24px;
  }

  .cl{
    margin-left: 40px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
    font-weight:bold ;
    margin-top: 20px;
    color: white;
  }
 
  .MainCard{
    position: relative;
    width: 250px;
    height: 420px;
    margin-top: 110px;
    margin-bottom: 20px;
  }

  .TheCard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  .TheCard:hover{
    transform: rotateY(180deg);
  }

  .TheFront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(front_improved.png);
    background-position: center;
    background-size: cover;
  }

  .TheBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(2.png);
    transform: rotateY(180deg);
    background-position: center;
    background-size: cover;
  }

  #loader {
    background-color: #16F8C2 !important;
    width: 100% !important;
    height: 100% !important;
    display: grid;
    place-items: center !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 99 !important;
  }
  
  .scene {
    position: relative;
    z-index: 2;
    height: 220px;
    width: 220px;
    display: grid;
    place-items: center;
  }
  
  .cube-wrapper {
    transform-style: preserve-3d;
    animation: bouncing 2s infinite;
  }
  
  .cube {
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateZ(45deg);
    animation: rotation 2s infinite;
  }
  
  .cube-faces {
    transform-style: preserve-3d;
    height: 80px;
    width: 80px;
    position: relative;
    transform-origin: 0 0;
    transform: translateX(0) translateY(0) translateZ(-40px);
  }
  
  .cube-face {
    position: absolute;
    inset: 0;
    background: #110d31ff;
    border: solid 1px #ff8484ff;
  }
  .cube-face.shadow {
    transform: translateZ(-80px);
    animation: bouncing-shadow 2s infinite;
  }
  .cube-face.top {
    transform: translateZ(80px);
  }
  .cube-face.front {
    transform-origin: 0 50%;
    transform: rotateY(-90deg);
  }
  .cube-face.back {
    transform-origin: 0 50%;
    transform: rotateY(-90deg) translateZ(-80px);
  }
  .cube-face.right {
    transform-origin: 50% 0;
    transform: rotateX(-90deg) translateY(-80px);
  }
  .cube-face.left {
    transform-origin: 50% 0;
    transform: rotateX(-90deg) translateY(-80px) translateZ(80px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotateX(45deg) rotateY(0) rotateZ(45deg);
      animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
    }
    50% {
      transform: rotateX(45deg) rotateY(0) rotateZ(225deg);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    }
    100% {
      transform: rotateX(45deg) rotateY(0) rotateZ(405deg);
      animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
    }
  }
  @keyframes bouncing {
    0% {
      transform: translateY(-40px);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    }
    45% {
      transform: translateY(40px);
      animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }
    100% {
      transform: translateY(-40px);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    }
  }
  @keyframes bouncing-shadow {
    0% {
      transform: translateZ(-80px) scale(1.3);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
      opacity: 0.05;
    }
    45% {
      transform: translateZ(0);
      animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 0.3;
    }
    100% {
      transform: translateZ(-80px) scale(1.3);
      animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
      opacity: 0.05;
    }
  }

  #models{
    display: flex;
    flex-direction: row;
  }

  .App {
    font-family: sans-serif;
    text-align: center;
    height: 40vh;
  }
  
  #boxHolder {
    height: 40dvh;
    width: 50%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  
  #box{
    border: 2px solid #cc50e5;
     padding: 10px;
     text-align: center;
     width: 50%;
     height: 40dvh;
     overflow: hidden;
     margin-top: 10%;
  }

  #options{
    float: left;
    display: flex;
    flex-direction: column;
  }
